.postsList{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-right: 5%;
    margin: 4rem auto 0;
    &__top{
        margin-bottom: 4rem;
    }
    &__head{
        font-size: 3.2rem;
        margin:0 0 0.5rem;
    }
    &__subhead{
        font-size: 1.6rem;
        color: #777676;
        font-style: italic;
    }
    
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 25rem);
        grid-auto-rows: 25rem;
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
    }

}