.uploadForm{
    display: flex;
    flex-direction: column;
}

.statusMsg{
    min-height: 4rem;

    &__txt{
        transition: 0.5s all ease;
        text-align: center;
        margin: 0;

    }

}